<form action= '/plates' method='post'>
    <div>
        <input type='text' name='protein' placeholder='Protein'>
    </div>
    <div>
        <input type='text' name='side' placeholder='Side'>
    </div>
    <div>
        <input type='text' name='vegetable' placeholder='Vegetable'>
    </div>
    <div>
        <input type='submit' value='Save'>
    </div>
</form>