<html>
    <body>
        <form action='/option/new' action='post'>
            <input type='text' name='first_name' placeholder='First Name'>
            <input type='text' name='last_name' placeholder='Last Name'>
            <input type='text' name='phone' placeholder='Phone Number'>
            <input type='text' name='address' placeholder='Address'>
            <input type='text' name='city' placeholder='City'>
            <input type='text' name='state' placeholder='State'>
            <input type='text' name='zipcode' placeholder='Zipcode'>
            <input type='submit' value="Save">
        </form>
    </body>
</html>