<html>
    <body>
        <form action='/option/edit' action='get'>
            <textarea name='last_name' placeholder='Last Name'><%= @contacts.query %></textarea>
            <input type='submit' value="Submit">
    </body>
</html>




 
           